*{
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
}

nav {
    margin-left: 17%;
    display: flex;
}

.lai {
    margin: 10px;
    margin-left: 15px;
}

header {
    background-color: #008275;
}

.logo{
    height: 40px;
}
.delta {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .25rem;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.aka {
    height: 20px;
    display: inline-block;
    content: " ";
    white-space: pre;
    min-width: 1.3em;
    margin-left: 10px;
    margin-top: 10px;
}

.aka2 {
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
}

.function {
    content: "\f168";
}

footer
{
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: black;
    color: white;
}

body {
    background-image: url("image-back2.jpg");
    background-position: center;
}

section  {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
}

p {
    margin-left: 22%;
    height: 40px;
    width: 600px;
    border: 1px solid #008275;
}

input {
    font-size: 16px;
    width: 528px;
    padding: 11px;
    border: 0px;
    outline: none;
    float: left;
}

button {
    width: 50px;
    height: 100%;
    border: 0px;
    background:  #008275;
    outline: none;
    float: right;
    color: #ffffff;
    cursor: pointer;
}

article {
    display: inline-block;
    font-size: 70px;
    font-weight: 550;
    margin-bottom: 40px;
}